# .gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.og
*.pyo.og
*.pyd.og

# Virtual environments
env/
venv/
*.venv
ENV/

# Development tools
.ipynb_checkpoints/
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
*.ipynb

# macOS artifacts
.DS_Store
